{% extends "base.html" %}

{% block title%} 
    SGT Policy Checker 
{% endblock %}

{% block page_title %} 
    SGT Policy Checker 
{% endblock%}

{% block page_description %}
        The SGT Policy Checker Web App determines the network segmentation policy between two host connected to the enterprise network
{% endblock %}

{% block page_body %}
    <div>
        <br>
        <h2> 
            Example Output:
        </h2>

        <pre> 
            The following segmentation policy is in place for Host1 -> Host2:
            Hostname1: R123456.mayo.edu -> Hostname2: R654321.mayo.edu
            Host1 IP: 10.249.37.37 -> Host2 IP: 10.249.21.46
            ADM_NET_INFR -> ADM_NET_INFR
            Host1 NAC Authz Policy: Mayo_Allow_Reauth
            Host2 NAC Authz Policy: Mayo_Allow_Reauth
            Host1 Tag: ADM_NET_INFR
            Host2 Tag: ADM_NET_INFR
            SGACL name: TEST_9300
            SGACL content:
                1  |  deny tcp dst eq 22 log
                2  |  deny tcp src eq 22 log
                3  |  deny tcp dst eq 23
                4  |  deny tcp src eq 23
                5  |  deny icmp log
                6  |  permit ip

            The following segmentation policy is in place for Host2 -> Host1:

            Hostname2: R654321.mayo.edu -> Hostname1: R123456.mayo.edu
            10.249.21.46 -> 10.249.37.37
            ADM_NET_INFR -> ADM_NET_INFR
            Host2 NAC Authz Policy: Mayo_Allow_Reauth
            Host1 NAC Authz Policy: Mayo_Allow_Reauth
            Host2 Tag: ADM_NET_INFR
            Host1 Tag: ADM_NET_INFR
            SGACL name: TEST_9300
            SGACL content: 

                1  |  deny tcp dst eq 22 log
                2  |  deny tcp src eq 22 log
                3  |  deny tcp dst eq 23
                4  |  deny tcp src eq 23
                5  |  deny icmp log
                6  |  permit ip
        </pre>
    </div>

{% endblock %}