<DOCTYPE html>
    <html>
        <head>
            <title> Segmentation Policy Checker </title>
        </head>
        <body>
            <h2>Segmentation Policy Checker</h2>
            <form action="/sgtpolicychecker/results" method="post">
                <div id="host1">
                    <label for="host1_identifiertype">Type</label>
                    <select name="host1_identifiertype" id="dropdown1">
                        <option value="ipaddress" selected>IP Address</option>
                        <option value="hostname">Hostname</option>
                    </select>
                    <label for="host1">Host 1</label>
                    <input type="text" name="host1" id="host1">
                </div>
                <div id="host2">
                    <label for="host2_identifiertype">Type</label>
                    <select name="host2_identifiertype" id="dropdown2">
                        <option value="ipaddress" selected>IP Address</option>
                        <option value="hostname">Hostname</option>
                    </select>
                    <label for="host2">Host 2</label>
                    <input type="text" name="host2" id="host2">
                </div>
                <input type="submit" value="Submit">
            </form>

            {% if result %}
            <h3>Command Results:</h3>
            <pre>{{ result }} </pre>
            {% endif %}

        </body>
    </html>
</DOCTYPE>